body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.radio{
    position: relative;
    padding: 10px;
}
.radio__input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.radio__label{
    padding-left: 30px;
    cursor: pointer;
    font-size: 1rem;
    color: #444;
}
.radio__label:before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;

    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 1;

    transition: border .1s linear;
}
.radio__label:after{
    content: "";
    display: block;
    width: 14px;
    height: 14px;

    background-color: #49d120;
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
}

.radio__input:checked + .radio__label:before{
    border-color: #319612;
}

.radio__input:checked + .radio__label:after{
    opacity: 1;
}
.reset__input{
    border: 1px solid #ccc;
    width: 160px;
    height: 30px;
    font-size: 1rem;
    font-style: italic
}
.reset__input:hover{
    transition: 1s;
    cursor: pointer;
    border: 1px solid rgb(65, 60, 60);
    background-color: #e9e8e8;
}